---
layout: page
title: Comp Sci / AI
permalink: /csai/
---

## Computer Science
<ul>
{% for post in site.posts reversed %}
	{% if post.cs == 1 and post.publish == 1%}
	<li>
		<a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a>
	</li>
	{% endif %}
{% endfor %}
	<li>Public Key Cryptography: RSA (coming soon)</li>
	<li>Probabilistic Crypto Algorithms: The Paillier Cryptosystem (coming soon)</li>
	<li>Basics of Elliptic Curve Cryptography (coming soon)</li>
	<li>Introduction to Digital Signatures (coming soon)</li>
</ul>


## Artificial Intelligence

<ul>
{% for post in site.posts reversed %}
	{% if post.ai == 1 and post.publish == 1 %}
	<li>
		<a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a>
	</li>
	{% endif %}
{% endfor %}
	<li>Generative Adversarial Networks For Realistic Facial Images (coming soon)</li>
	<li>Visualizing DCGANs (coming soon)</li>