---
layout: page
title: Comp Sci / AI
permalink: /csai/
---

## Computer Science
<ul>
{% for post in site.posts %}
	{% if post.cs == 1 and post.publish == 1%}
	<li>
		<a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a>
	</li>
	{% endif %}
{% endfor %}
</ul>


## Artificial Intelligence

<ul>
{% for post in site.posts %}
	{% if post.ai == 1 and post.publish == 1 %}
	<li>
		<a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a>
	</li>
	{% endif %}
{% endfor %}
	<li>Variational Autoencoders (coming soon)</li>
	<li>DCGANs for Generating Realistic Faces (coming soon)</li>
	<li>Visualizing DCGANs (coming soon)</li>